In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Reading the dataset
ckd_dataset=pd.read_csv('CKD.csv')
ckd_dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
#Details about the dataset
ckd_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 25 columns):
age               399 non-null float64
bp                399 non-null float64
sg                399 non-null object
al                399 non-null float64
su                399 non-null float64
rbc               399 non-null object
pc                399 non-null object
pcc               399 non-null object
ba                399 non-null object
bgr               399 non-null float64
bu                399 non-null float64
sc                399 non-null float64
sod               399 non-null float64
pot               399 non-null float64
hrmo              399 non-null float64
pcv               399 non-null float64
wc                399 non-null float64
rc                399 non-null float64
htn               399 non-null object
dm                399 non-null object
cad               399 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    399 non-null object
dtypes: float64(13), object(12)
memory usage: 78.1+ KB

In [4]:
#Dimensions of dataset
ckd_dataset.shape

(399, 25)

In [5]:
#Splitting input and output columns
X = ckd_dataset.iloc[:,:-1]
y = ckd_dataset['classification']

In [6]:
#Printing X
X

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hrmo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,12.518156,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,10.700000,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,12.000000,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,8.100000,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,11.800000,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,12.500000,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,8.700000,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,9.100000,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,8.500000,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,16.300000,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no

In [7]:
#Printing y
y

0      yes
1      yes
2      yes
3      yes
4      yes
      ...
394    yes
395    yes
396    yes
397    yes
398     no
Name: classification, Length: 399, dtype: object

In [8]:
#Converting categorical column values into numerical values
ckd_dataset = pd.get_dummies(X, drop_first=True)
ckd_dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [9]:
#Getting the column names
ckd_dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes'],
      dtype='object')

In [10]:
#Getting number of rows and number of columns, after converting categorical to numerical values
ckd_dataset.shape

(399, 27)

In [11]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ckd_dataset, y, test_size = 1/3, random_state = 0)

In [12]:
#Printing X_train
X_train

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
240,60.0,100.0,0.0,3.0,263.0,27.000000,1.300000,135.000000,4.300000,12.700000,...,1,1,0,0,1,1,1,1,0,0
218,57.0,80.0,0.0,0.0,120.0,48.000000,1.600000,137.528754,4.627244,11.300000,...,1,1,0,0,1,1,0,1,0,0
101,42.0,70.0,0.0,0.0,75.0,31.000000,1.200000,141.000000,3.500000,16.500000,...,1,1,0,0,0,0,0,1,0,0
311,66.0,70.0,1.0,0.0,248.0,30.000000,1.700000,138.000000,5.300000,12.518156,...,1,1,0,0,1,1,0,1,0,0
194,55.0,80.0,0.0,0.0,146.0,57.482105,3.077356,137.528754,4.627244,9.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,68.0,70.0,0.0,0.0,98.0,86.000000,4.600000,135.000000,3.400000,9.800000,...,1,1,0,0,1,1,1,0,1,0
192,54.0,90.0,1.0,0.0,150.0,18.000000,1.200000,140.000000,4.200000,12.518156,...,1,0,0,0,0,0,0,0,1,1
117,45.0,80.0,0.0,0.0,107.0,15.000000,1.000000,141.000000,4.200000,11.800000,...,1,0,0,0,0,0,0,1,0,0
47,30.0,80.0,0.0,0.0,89.0,42.000000,0.500000,139.000000,5.000000,16.700000,...,1,1,0,0,0,0,0,1,0,0
172,51.0,60.0,0.0,0.0,129.0,25.000000,1.200000,139.000000,5.000000,17.200000,...,1,1,0,0,0,0,0,1,0,0

In [13]:
#Standardizing data to bring all column values into same scale
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
#Performing grid search for Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

param_grid = {'solver':['newton-cg', 'lbfgs', 'liblinear', 'saga'],
             'penalty':['l2']}

grid = GridSearchCV(LogisticRegression(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   
# fitting the model for grid search 
grid.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

GridSearchCV(estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'penalty': ['l2'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'saga']},
             scoring='f1_weighted', verbose=3)

In [15]:
# print best parameter after tuning 
print(grid.best_params_) 
re=grid.cv_results_
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)


# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

{'penalty': 'l2', 'solver': 'newton-cg'}

In [16]:
# Calculating f1 score
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'penalty': 'l2', 'solver': 'newton-cg'}: 0.9924946382275899

In [17]:
#Printing the confusion matrix
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[51  0]
 [ 1 81]]

In [18]:
#Printing the Classification report
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

          no       0.98      1.00      0.99        51
         yes       1.00      0.99      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [19]:
#Plotting ROC curve
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

1.0

In [20]:
#Creating a table to display the results
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_penalty,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.021606,0.005471,0.001302,0.002604,l2,newton-cg,"{'penalty': 'l2', 'solver': 'newton-cg'}",0.981569,0.981014,0.981217,1.000000,1.000000,0.988760,0.009179,1
1,0.016573,0.002943,0.001072,0.002143,l2,lbfgs,"{'penalty': 'l2', 'solver': 'lbfgs'}",0.981569,0.981014,0.981217,1.000000,1.000000,0.988760,0.009179,1
2,0.003607,0.006040,0.003127,0.006254,l2,liblinear,"{'penalty': 'l2', 'solver': 'liblinear'}",0.963284,0.981233,0.962573,0.981217,0.981217,0.973905,0.008965,4
3,0.015554,0.006111,0.000000,0.000000,l2,saga,"{'penalty': 'l2', 'solver': 'saga'}",0.981569,0.981233,0.981217,0.981217,0.981217,0.981291,0.000139,3

In [21]:
#Getting inputs from the user
age_input=float(input("Age:"))
bp_input=float(input("Blood pressure:"))
al_input=float(input("Albumin:"))
su_input=float(input("Sugar:"))
bgr_input=float(input("Blood Glucose Random:"))
bu_input=float(input("Blood urea:"))
sc_input=float(input("Serum Creatinine:"))
sod_input=float(input("Sodium:"))
pot_input=float(input("Potassium:"))
hemo_input=float(input("Haemoglobin:"))
pcv_input=float(input("Packed Cell Volume:"))
wc_input=float(input("White Blood Cell Count:"))
rc_input=float(input("Red Blood Cell Count:"))
Sgb_input=int(input("Specific Gravity b:"))
Sgc_input=int(input("Specific Gravity c:"))
Sgd_input=int(input("Specific Gravity d:"))
Sge_input=int(input("Specific Gravity e:"))
rbcNormal_input=int(input("Red Blood Cells normal:"))
pcNormal_input=int(input("Pus cell normal:"))
pccPresent_input=int(input("Pus cell Clumps present:"))
baPresent_input=int(input("Bacteria present:"))
htnYes_input=int(input("Hypertension Yes:"))
dmYes_input=int(input("Diabetes Mellitus Yes:"))
cadYes_input=int(input("Coronary Artery Disease Yes:"))
appetYes_input=int(input("Appetite Yes:"))
pedaEdemaYes_input=int(input("Peda Edema Yes:"))
aneYes_input=int(input("Anaemia Yes:"))

Age:30
Blood pressure:90
Albumin:1
Sugar:2
Blood Glucose Random:5
Blood urea:4
Serum Creatinine:3
Sodium:165
Potassium:190
Haemoglobin:66
Packed Cell Volume:34
White Blood Cell Count:7786
Red Blood Cell Count:5699
Specific Gravity b:1
Specific Gravity c:0
Specific Gravity d:0
Specific Gravity e:0
Red Blood Cells normal:1
Pus cell normal:0
Pus cell Clumps present:1
Bacteria present:1
Hypertension Yes:1
Diabetes Mellitus Yes:0
Coronary Artery Disease Yes:0
Appetite Yes:1
Peda Edema Yes:0
Anaemia Yes:1

In [22]:
#Predicting for user received inputs (future predictions)
Future_Prediction=grid.predict([[age_input,bp_input,al_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hemo_input,
                                pcv_input,wc_input,rc_input,Sgb_input,Sgc_input,Sgd_input,Sge_input,rbcNormal_input,pcNormal_input,
                                pccPresent_input,baPresent_input,htnYes_input,dmYes_input,cadYes_input,appetYes_input,pedaEdemaYes_input,aneYes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=['no']